* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#black,
#black body {
  background-color: #000000;
  transition: 0.4s all;
}

#black span {
  color: #ffffff;
}
#black a {
  color: #ffffff;
}
#black h2 {
  color: #ffffff;
}

#black p {
  color: #ffffff;
}

#black div {
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
